.layout {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  color:#0c3c60;
}

.features {
  background-color: #0c3c60;
  color: white;
}

.features > h3{
  color: #D1E0EB;
}

.buttons {
  background-color: #6EA4CA;
  border: none;
  color: white !important;
}

.buttons:hover {
  background-color: #85b2d2;
}

.testimonials {
  background-color: #39729B;
  color: white;
  font-size: 18px;
}

.contact {
 background-color: #303846;
 color: white;
 display: flex; 
 justify-content: center; 
}
