 .heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #6EA4CA;
  }
  
  
  .heroTitle{
    font-size: 52px;
    font-weight: normal;
    font-family: sans-serif;  
}
  
  .heroSubtitle{
    color: #39729B;
    font-size: 16px;
  }

  .underline {
    height: 5px;
    background: #6EA4CA;
    width: 100px;
  }

  @media screen and (max-width: 1200px) {
    .heroBanner {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .heroTitle{
      font-size: 48px;
    }
  }