.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.column {
  display: flex;
  justify-content: center;
  align-items: top;
  float: left;
  width: 33.33%;
  padding: 20px;
}

.row {
  margin: 0px
}

.dashed {
  border-top: 3px dashed #bbb;
  margin-bottom: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-left: 0;
}

.paginationItem:disabled {
  opacity: 0.5;
  cursor: default;
}

.paginationItem:hover {
  color: #39729B;
}

.paginationItem {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #6EA4CA;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  font-weight: 800;
}

.paginationLayout {
  justify-content: center;
  width: 100%;
}

.youtubeBlock > * {
  margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 1025px) {
  .column {
    width: 100%;
  }
}