.layout {
    padding: 2rem 0;
    width: 100%;
    color:#0c3c60;
  }

.servicesLayout{
    justify-content: center;
    color:#39729B
}

.underline {
    height: 8px;
    background: #6EA4CA;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .buttons{
    background: #6EA4CA;
    color: white !important;
  }

  .buttons:hover{
    color: black !important;
  }