.quote {
    color: #0C3C60;
    font-size: 14px;
}

.name {
    display: flex;
    justify-content: flex-end;
    color: #39729B
}

.location {
    display: flex;
    justify-content: flex-end;
    font-size: 12;
    font-style: italic;
    color: #39729B;
}

@media screen and (max-width: 900px) {
    .layout {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
  }

.backButton {
    background: none;
    border: none;
    display: flex;
}

.backButton > span {
    color: #39729B;
    font-size: 18px;
}

.backButton :hover {
    color: #4283b2
}

.backButton :active {
    color: #306184;
}