.profile {
    background-color: #0C3C60; 
    width: 600px; 
    padding: 10px;
}

.name {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    .profile {
        width: 380px !important; 
    }
  }